$max-width : 70rem;

//color

$color-primary:#4069F8;
$color-primary-dark:#2544FF;
$color-primary-light:#5A7FFE;


//GRID-WIDTH

$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;
$gird-width:74rem;